html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
}


.navbar {
    background-color: black;
    color: white;
}

.navbar~* {
    position: relative;
    top: 4.45rem;
}

.navTitle {
    color: #ffffff;
    padding-left: 50px;
    size: 50px;
    font-weight: 600;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
}

.logo img {
	max-height: 50px;
}

html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin: 0;
    padding-bottom: 100px; 
  }
  
  main {
    padding-bottom: 50px;
  }
  
  
  
  
  body {
    font-family: 'Segoe UI', 'San Francisco', Calibri, Helvetica, Arial, sans-serif;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem; 
  }

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
} */

body{
	background: #eeeff4;
}

.wrapper .header{
	width: 100%;
	height: 50px;
	background: #e36686;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
}

.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 25%;
}

.cards_wrap .card_inner{
	background: #fff;
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: #e36686;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #b6c0c2;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
}

